/* Merriweather as font */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Merriweather", serif;
  font-size: 1.3rem;
}
.page-container {
  height: 100vh;
  width: 100vw;
  display: flex;
}
.left {
  height: 100%;
  width: 80%;

  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(./images/leaf-img.png);
}
.right {
  height: 100vh;
  width: 100%;
}
.container {
  padding: 3em;
  background-color: rgb(197, 197, 197);
}
.input-container {
  box-shadow: 10px 5px 5px rgb(112, 112, 112);
  padding: 2em;
}
.input {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  letter-spacing: 3px;
  row-gap: 30px;
}
.input div input {
  border-radius: 5px;
}
